@import 'variable';
body{
    background-color: $fill-color;
}
h1{
    color: $text-color;
}
hr{
    border: 2px solid $text-color;
    border-radius: 5px;
    margin: 0px;
}
//header
.title {
    text-align: center;
}
.title h1{
    font-family : iCiel Gotham;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    color: $text-color;
    letter-spacing : 4px;
    font-size: 30px;
}
.navbar{
    padding: 0px;
    padding-top: 30px;
}
.navbar-light .navbar-toggler{
    border-color: transparent;
    padding: 0px;
}
.navbar-toggler-icon{
    font-size: 50px;
}
//footer
.footer{
    width: 100%;
    float: none;
    position: fixed;
    bottom: 0;
}
.footer h1{
    text-align: center;
    margin: auto;
    margin-top: 40px;
    color: $text-color;
    letter-spacing : 4px;
    font-size: 30px;
}
footer h2{
    text-align: center;
    font-family: iCiel Gotham;
    font-size: 20px;
    letter-spacing : 2px;
    margin-bottom: 70px;
}
//body - upload
.upload{
    margin-top: 15px;
}
.custom-file-label{
    font-family : iCiel Gotham;
    color: $text-color;
    letter-spacing : 2px;
    margin: 0px 30%;
}
.submit{
    font-size: 15px;
    color: $fill-color;
    font-family : iCiel Gotham;
    letter-spacing : 4px;
    background-color: $text-color;
    border-color: $text-color;
    padding: 10px 20px;
}
.submit-button{
    margin: auto;
    text-align: center;
    margin: 15px;
}
