@import 'variable';
body{
    background-color: $fill-color;
}
h1{
    color: $text-color;
}

::-webkit-scrollbar {
    width: 10px;
  }
hr{
    border: 0.1rem solid $text-color;
    border-radius: 5rem;
    margin: 0rem;
    background-color: $text-color;
}
[class*="col-"] {
    padding: 0rem 0.5rem;
}
.col-1{
    margin-left: -1.5rem;
}
.modal{
    font-family : $font;
    color: $text-color;
    letter-spacing : 0.1rem;
    font-size: 2rem;
}
.modal .modal-body{
    font-family : $font;
    letter-spacing : 0rem;
    font-size: 1rem;
}
a:hover{
    color: $sub-fill-color;
}
//header
.header{
    background-color: $fill-color;
    position: fixed;
    z-index: 2;
    width: 100%;
    float: none;
    top: 0;
}
.title {
    text-align: right;
}
.title h1{
    font-family : $font;
    margin: auto;
    margin-top: 1rem;
    color: $text-color;
    letter-spacing : 0.4rem;
    font-size: 1.5rem;
}
.title p{
    font-family : $font;
    margin: auto;
    margin-bottom: 1rem;
    color: $text-color;
    letter-spacing : 0.1rem;
    font-size: 1rem;
}
.navbar{
    padding: 0rem;
}
.navbar-light .navbar-toggler{
    border-color: transparent;
    padding-top: -0.5rem;
}
.navbar-toggler-icon{
    font-size: 3.5rem;
}
#navbarToggleExternalContent a{
    
    font-family : $font;
    color: $text-color;
    letter-spacing : 0.2rem;
    font-size: 1rem;
}
#navbarToggleExternalContent a:hover{
    color: $sub-fill-color;
}
//footer
.footer{
    background-color: $fill-color;
    z-index: 2;
    width: 100%;
    float: none;
    bottom: 0;
}
.footer h1{
    text-align: center;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    color: $text-color;
    letter-spacing : 0.4rem;
    font-size: 1.5rem;
}
footer h2{
    text-align: center;
    font-family: $font;
    font-size: 1rem;
    letter-spacing : 0.2rem;
    margin-bottom: 1rem;
}
footer a{
    color: $text-color;
}
//body - home
.input-message{
    margin: 0rem 15% 2rem 15%;
    width: auto;
}
.input-message .input-text{
    font-family: $font;
    color: $fill-color;
    background-color: $text-color;
}
#type-box{
    font-family: $font;
    color: $text-color;
}
.input-img-container{
    padding: 1rem;
    text-align: center;
}
.upload{
    margin: 1rem 0rem;
}
.custom-file-label{
    cursor: pointer;
    font-family: $font;
    color: $text-color;
    letter-spacing : 0rem;
    margin: 0rem 10%;
}
.custom-file-label::after {
    content: Brows;
    background-color: $text-color;
    color: $fill-color;
    font-family: $font;
}
.encrypt-upload{
    margin: 0rem 15%;
}

.submit{
    font-size: 1.5rem;
    color: $fill-color;
    font-family : $font;
    letter-spacing : 0.4rem;
    background-color: $sub-fill-color;
    border-color: $sub-fill-color;
    padding: 1rem 2rem;
}
.submit-button{
    margin: auto;
    text-align: center;
    margin-top: 0.2rem;
    margin-bottom: 1.7rem;
}
.encrypt-output, .decrypt-output{
    display: flex;
}
.encrypt-output canvas{
    margin: auto;
    width: 48%;
    border: 0.2rem solid $text-color;
}

.decrypt-output canvas{
    margin: auto;
    width: 70%;
    border: 0.2rem solid $text-color;
}
.decrypt-output-caption, .decrypt-output-download, .encrypt-output-caption, .encrypt-output-download{
    display: flex;
}
.encrypt-output-caption p{ 
    width: 48%;
    color: $fill-color;
    background-color: $sub-fill-color;
    margin: auto;
    text-align: center;
    font-family: $font;
    font-size: 1.5rem;
    letter-spacing : 0.2rem;
    padding: 0.2rem 0rem;
    border-radius: 0.4rem 0.4rem 0rem 0rem;
    border: 0.2rem solid $sub-fill-color;
}
.text-area{
    text-align: center;
}
#text{
    font-family: $font;
    width: 48%;
    padding: 1rem;
    letter-spacing : 0.2rem;
    font-size: 1rem;
}
.encrypt-output-download a, .encrypt-output-download button{
    cursor: pointer;
    width: 48%;
    color: $fill-color;
    background-color: $sub-fill-color;
    margin: auto;
    text-align: center;
    font-family: $font;
    font-size: 1.5rem;
    letter-spacing : 0.2rem;
    padding: 0.2rem 0rem;
    border-radius: 0rem 0rem 0.4rem 0.4rem;
    border: 0.2rem solid $sub-fill-color;
}

.decrypt-output-caption p{ 
    width: 70%;
    color: $fill-color;
    background-color: $sub-fill-color;
    margin: auto;
    text-align: center;
    font-family: $font;
    font-size: 1.5rem;
    letter-spacing : 0.2rem;
    padding: 0.2rem 0rem;
    border-radius: 0.4rem 0.4rem 0rem 0rem;
    border: 0.2rem solid $sub-fill-color;
}
.decrypt-output-download a, .decrypt-output-download button{
    cursor: pointer;
    width: 70%;
    color: $fill-color;
    background-color: $sub-fill-color;
    margin: auto;
    text-align: center;
    font-family: $font;
    font-size: 1.5rem;
    letter-spacing : 0.2rem;
    padding: 0.2rem 0rem;
    border-radius: 0rem 0rem 0.4rem 0.4rem;
    border: 0.2rem solid $sub-fill-color;
}
.encrypt-input, .decrypt-input{
    display: flex;
}
.encrypt-input canvas{
    margin: auto;
    width: 48%;
    border: 0.2rem solid $text-color;
}
.decrypt-input canvas{
    margin: auto;
    width:  96%;
    border: 0.2rem solid $text-color;
}