body {
  background-color: RGB(245, 243, 244); }

h1 {
  color: RGB(51, 53, 51); }

hr {
  border: 0.2vw solid RGB(51, 53, 51);
  border-radius: 5vw;
  margin: 0vw;
  background-color: RGB(51, 53, 51); }

[class*="col-"] {
  padding: 0vw 0.5vw; }

.modal {
  font-family: iCiel Gotham;
  color: RGB(51, 53, 51);
  letter-spacing: 0.1vw;
  font-size: 2vw; }

.modal .modal-body {
  font-family: iCiel Gotham;
  letter-spacing: 0vw;
  font-size: 1vw; }

a:hover {
  color: RGB(0, 187, 249); }

.title {
  text-align: right; }

.title h1 {
  font-family: iCiel Gotham;
  margin: auto;
  margin-top: 3.5vw;
  color: RGB(51, 53, 51);
  letter-spacing: 0.4vw;
  font-size: 3vw; }

.title p {
  font-family: iCiel Gotham;
  margin: auto;
  margin-bottom: 3vw;
  color: RGB(51, 53, 51);
  letter-spacing: 0.1vw;
  font-size: 1.5vw; }

.navbar {
  padding: 0vw;
  padding-top: 3vw; }

.navbar-light .navbar-toggler {
  border-color: transparent;
  padding: 0vw; }

.navbar-toggler-icon {
  font-size: 5vw; }

#navbarToggleExternalContent a {
  font-family: iCiel Gotham;
  color: RGB(51, 53, 51);
  letter-spacing: 0.4vw;
  font-size: 2vw; }

#navbarToggleExternalContent a:hover {
  color: RGB(0, 187, 249); }

.footer {
  background-color: RGB(245, 243, 244);
  z-index: 2;
  width: 100%;
  float: none;
  bottom: 0; }

.footer h1 {
  text-align: center;
  margin: auto;
  margin-top: 4vw;
  margin-bottom: 0.5vw;
  color: RGB(51, 53, 51);
  letter-spacing: 0.4vw;
  font-size: 3vw; }

footer h2 {
  text-align: center;
  font-family: iCiel Gotham;
  font-size: 1.5vw;
  letter-spacing: 0.2vw;
  margin-bottom: 4vw; }

footer a {
  color: RGB(51, 53, 51); }

.input-message {
  margin: 0vw 15% 2vw 15%;
  width: auto; }

.input-message .input-text {
  font-family: iCiel Gotham;
  color: RGB(245, 243, 244);
  background-color: RGB(51, 53, 51); }

#type-box {
  font-family: iCiel Gotham;
  color: RGB(51, 53, 51); }

.input-img-container {
  padding: 1vw;
  text-align: center; }

.upload {
  margin: 2vw 0vw; }

.custom-file-label {
  cursor: pointer;
  font-family: iCiel Gotham;
  color: RGB(51, 53, 51);
  letter-spacing: 0vw;
  margin: 0vw 10%; }

.custom-file-label::after {
  content: Brows;
  background-color: RGB(51, 53, 51);
  color: RGB(245, 243, 244);
  font-family: iCiel Gotham; }

.encrypt-upload {
  margin: 0vw 15%; }

.submit {
  font-size: 1.5vw;
  color: RGB(245, 243, 244);
  font-family: iCiel Gotham;
  letter-spacing: 0.4vw;
  background-color: RGB(0, 187, 249);
  border-color: RGB(0, 187, 249);
  padding: 2vw 3vw; }

.submit-button {
  margin: auto;
  text-align: center;
  margin: 1.5vw; }

.encrypt-output, .decrypt-output {
  display: flex; }

.encrypt-output canvas {
  margin: auto;
  width: 48%;
  border: 0.2vw solid RGB(51, 53, 51); }

.decrypt-output canvas {
  margin: auto;
  width: 70%;
  border: 0.2vw solid RGB(51, 53, 51); }

.decrypt-output-caption, .decrypt-output-download, .encrypt-output-caption, .encrypt-output-download {
  display: flex; }

.encrypt-output-caption p {
  width: 48%;
  color: RGB(245, 243, 244);
  background-color: RGB(0, 187, 249);
  margin: auto;
  text-align: center;
  font-family: iCiel Gotham;
  font-size: 2vw;
  letter-spacing: 0.2vw;
  padding: 0.5vw 0vw;
  border-radius: 0.4vw 0.4vw 0vw 0vw;
  border: 0.2vw solid RGB(0, 187, 249); }

.text-area {
  text-align: center; }

#text {
  font-family: iCiel Gotham;
  width: 48%;
  padding: 1vw;
  letter-spacing: 0.3vw;
  font-size: 2vw; }

.encrypt-output-download a, .encrypt-output-download button {
  cursor: pointer;
  width: 48%;
  color: RGB(245, 243, 244);
  background-color: RGB(0, 187, 249);
  margin: auto;
  text-align: center;
  font-family: iCiel Gotham;
  font-size: 2vw;
  letter-spacing: 0.2vw;
  padding: 0.5vw 0vw;
  border-radius: 0vw 0vw 0.4vw 0.4vw;
  border: 0.2vw solid RGB(0, 187, 249); }

.decrypt-output-caption p {
  width: 70%;
  color: RGB(245, 243, 244);
  background-color: RGB(0, 187, 249);
  margin: auto;
  text-align: center;
  font-family: iCiel Gotham;
  font-size: 2vw;
  letter-spacing: 0.2vw;
  padding: 0.5vw 0vw;
  border-radius: 0.4vw 0.4vw 0vw 0vw;
  border: 0.2vw solid RGB(0, 187, 249); }

.decrypt-output-download a, .decrypt-output-download button {
  cursor: pointer;
  width: 70%;
  color: RGB(245, 243, 244);
  background-color: RGB(0, 187, 249);
  margin: auto;
  text-align: center;
  font-family: iCiel Gotham;
  font-size: 2vw;
  letter-spacing: 0.2vw;
  padding: 0.5vw 0vw;
  border-radius: 0vw 0vw 0.4vw 0.4vw;
  border: 0.2vw solid RGB(0, 187, 249); }

.encrypt-input, .decrypt-input {
  display: flex; }

.encrypt-input canvas {
  margin: auto;
  width: 48%;
  border: 0.2vw solid RGB(51, 53, 51); }

.decrypt-input canvas {
  margin: auto;
  width: 96%;
  border: 0.2vw solid RGB(51, 53, 51); }
