<!-- The Modal -->
<div class="modal fade" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">
    
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Cannot degenerate</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      
      <!-- Modal body -->
      <div class="modal-body">
        Share1 and Share2 are not the same size
      </div>
      
      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn" data-dismiss="modal">Close</button>
      </div>
      
    </div>
  </div>
</div>
<div class= "encrypt-output-caption">
  <p>SHARE1</p>
  <p>SHARE2</p> 
</div>
<div style="display: flex;">
    <div style="margin: auto;">
        <div class="input-img-container" hidden>
          <img id="image1Src" src="/img/share1_thumnails.jpg" onload="fill_input_canvas('image1Src', 'canvas-img1Src')" hidden/>
          <img id="imageOut" src="/img/decrypt_output_thumnails.jpg" onload="fill_Output_canvas()" hidden/>
        </div>
          <div class="decrypt-input">
            <canvas id="canvas-img1Src"></canvas>
          </div>
        <div class="custom-file upload">
          <input type="file" class="custom-file-input" id="customFile1" name="filename" disabled>
          <label class="custom-file-label" for="customFile1">Choose image</label>
        </div>
    </div>
    <div style="margin: auto;">
        <div class="input-img-container" hidden>
          <img id="image2Src" src="/img/share2_thumnails.jpg" onload="fill_input_canvas('image2Src', 'canvas-img2Src')" hidden/>
        </div>
          <div class="decrypt-input">
            <canvas id="canvas-img2Src"></canvas>
          </div>
        <div class="custom-file upload">
          <input type="file" class="custom-file-input" id="customFile2" name="filename" disabled>
          <label class="custom-file-label" for="customFile2">Choose image</label>
        </div>
    </div>
</div>
<div class="submit-button">
  <button type="submit" class="btn submit" id="decrypt" disabled>DEGENERATE</button>
</div>
<div class= "decrypt-output-caption">
  <p>RESULT</p>
</div>

<div class="decrypt-output">
  <canvas id="canvas-decrypt"></canvas>
</div>

<div class= "decrypt-output-download">
  <a id="decrypt-download" download="decrypt.png">
    <button class="download" type="button" onClick="download('canvas-decrypt','decrypt-download')" disabled>DOWNLOAD</button>
  </a>
</div>

<script type="text/javascript">
  var element = document.getElementsByClassName("nav-link");
  element[3].classList.add("active");
  //SHOW FILE NAME & LOAD INPUT IMAGE
  $(".custom-file-input").on("change", function() {
    var fileName = $(this).val().split("\\").pop();
    $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
  });
	function fill_input_canvas(img_id, canvas_id)
	{
		let imgElement = document.getElementById(img_id);
		let img = cv.imread(imgElement);
		cv.imshow(canvas_id, img);
		img.delete();
	}
  
	function fill_Output_canvas()
	{
		let imgElement = document.getElementById("imageOut");
		let Out = cv.imread(imgElement);
    cv.imshow('canvas-decrypt', Out);
		Out.delete();
	}
  //load opencv lib
  function onOpenCvReady() 
  {
    document.getElementsByClassName("submit")[0].disabled = false;
    document.getElementsByClassName("custom-file-input")[0].disabled = false;
    document.getElementsByClassName("custom-file-input")[1].disabled = false;
		fill_input_canvas('image1Src', 'canvas-img1Src');
		fill_input_canvas('image2Src', 'canvas-img2Src');
		fill_Output_canvas();
  }
  //DECRYPT
    let img1Element = document.getElementById('image1Src');
    let input1Element = document.getElementById('customFile1');
    input1Element.addEventListener('change', (e) => {
        document.getElementsByClassName("download")[0].disabled = true;
        img1Element.src = URL.createObjectURL(e.target.files[0]);},false);

    let img2Element = document.getElementById('image2Src');
    let input2Element = document.getElementById('customFile2');
    input2Element.addEventListener('change', (e) => {
        document.getElementsByClassName("download")[0].disabled = true;
        img2Element.src = URL.createObjectURL(e.target.files[0]);},false);
    
    document.getElementById("decrypt").onclick = function() 
    {
        let share1 = cv.imread(img1Element);
        let share2 = cv.imread(img2Element);
        if (share1.rows != share2.rows || share1.cols != share2.cols){
          $('#myModal').modal('show');
          return;
        }
        let decrypt = cv.Mat.zeros(share1.rows, share1.cols, share1.type())
        cv.bitwise_and(share1, share2, decrypt);
        cv.imshow('canvas-decrypt', decrypt);
        share1.delete();
        share2.delete();
        decrypt.delete();
        document.getElementsByClassName("download")[0].disabled = false;
    };
  //DOWNLOAD
  function download(canvas_id, download_button_id) 
  {
    var download = document.getElementById(download_button_id);
    var image = document.getElementById(canvas_id).toDataURL("image/png").replace("image/png", "image/octet-stream");
    download.setAttribute("href", image);
  }
</script>