<!-- The Modal -->
<div class="modal fade" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">
    
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Cannot degenerate</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      
      <!-- Modal body -->
      <div class="modal-body">
        input image size is too big
      </div>
      
      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn" data-dismiss="modal">Close</button>
      </div>
      
    </div>
  </div>
</div>
<div class= "encrypt-output-caption">
  <p>INPUT IMAGE</p> 
</div>
<div class="input-img-container" hidden>
  <img id="imageSrc" src="/img/thumnails.jpg" onload="fill_input_canvas()" hidden/>
  <img id="imageOut1" src="/img/share1_output_thumnails.jpg" onload="fill_input_canvas()" hidden/>
  <img id="imageOut2" src="/img/share2_output_thumnails.jpg" onload="fill_input_canvas()" hidden/>
</div>
<div class="encrypt-input">
  <canvas id="canvas-imgSrc"></canvas>
</div>
<div class="custom-file upload">
  <input type="file" class="custom-file-input" id="customFile" name="filename" disabled>
  <label class="custom-file-label encrypt-upload" for="customFile">Choose image</label>
</div>

<div class="submit-button">
  <button type="submit" class="btn submit" id="generate" disabled>GENERATE</button>
</div>
<div class= "encrypt-output-caption">
  <p>SHARE1</p>
  <p>SHARE2</p> 
</div>
<div class="encrypt-output">
  <canvas id="canvasShare1"></canvas>
  <canvas id="canvasShare2"></canvas>
</div>
<div class= "encrypt-output-download">
  <a id="Share1-download" download="share1.png">
    <button class="download" type="button" onClick="download('canvasShare1','Share1-download')" disabled>DOWNLOAD</button>
  </a>
  <a id="Share2-download" download="share2.png">
    <button class="download" type="button" onClick="download('canvasShare2','Share2-download')" disabled>DOWNLOAD</button>
  </a>
</div>
<script type="text/javascript">

	//load opencv lib
	function onOpenCvReady() 
	{
		document.getElementsByClassName("submit")[0].disabled = false;
		document.getElementsByClassName("custom-file-input")[0].disabled = false;
		fill_input_canvas();
	}
	//SHOW FILE NAME & IMG TO CANVAS
	$(".custom-file-input").on("change", function() {
		var fileName = $(this).val().split("\\").pop();
		$(this).siblings(".custom-file-label").addClass("selected").html(fileName);
	});	
	function fill_input_canvas()
	{
		let imgElement = document.getElementById('imageSrc');
		let Out1Element = document.getElementById('imageOut1');
		let Out2Element = document.getElementById('imageOut2');
		let img = cv.imread(imgElement);
		let Out1 = cv.imread(Out1Element);
		let Out2 = cv.imread(Out2Element);
		cv.imshow('canvas-imgSrc', img);
		cv.imshow('canvasShare1', Out1);
		cv.imshow('canvasShare2', Out2);
		img.delete();Out1.delete();Out2.delete()
	}
</script>
{{>encryptSCR}}